$color_bg: #fff;
$color_fg: #000;

$color_primary: #2a6d9e;

$color_primary_deep: darken($color_primary, 10%);
$color_primary_dark: darken($color_primary, 5%);
$color_primary_light: lighten($color_primary, 30%);
$color_primary_slight: lighten($color_primary, 55%);

$color_fg_link: #00c;
$color_fg_visited: #00e;

$color_fg_control: #000;
$color_bg_control: #dbdbdb;

#forum_message_body > div.message-content {
  font-family: Arial, Verdana, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 13px;
  margin-bottom: 1em;

  pre, code {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    background-color: $color_primary_slight;
    font-size: 0.98em;
    border-radius: 0.3em
  }

  pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight:bold;
    color:#2a6d9e;
    line-height:1.2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-left: 0.5em;
  }
  h1, h2 {
    border-style: solid;
    border-color: #4792c8;
    border-width: 0 0 0.2em 0;
  }
  h4,h5,h6{ font-weight: bold; }
  h1{ font-size:1.6em; }
  h2{ font-size:1.4em; }
  h3{ font-size:1.2m; }
  h4{ font-size:1em; }
  h5{ font-size:0.95em; }
  h6{ font-size:0.9em; }

  a {
    color: $color_fg_link;
    text-decoration: none;
    transition: all 0.3s;
  }
  a:visited {
    color: $color_fg_visited;
  }
  a:hover {
    color: lighten($color_fg_link, 30%);
    text-decoration: underline;
  }
  a:active {
    color: #faa700;
  }
  a:focus {
    outline: thin solid;
    outline-offset: 0.1em;
    outline-color: lighten($color_fg_link, 30%);
  }
  a:hover, a:active{ outline: 0; }

  p { margin: 1em 0; }

  img { max-width: 100%; }

  blockquote{
    color: #549e4d;
    margin:0;
    padding: 0.5em;
    border-left: 0.3em #549e4d solid;
    background-color: #f1fff0;
    h1,h2,h3,h4,h5,h6{
      color: #549e4d;
      border-color: #549e4d;
    }

    p:first-child { margin-top: 0; }
    p:last-child { margin-bottom: 0; }
    p { margin-bottom: 1em; }

  }
  hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }

  em { font-style: italic; }
  b, strong { font-weight: bold; }

  sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
  sup { top: -0.5em; }
  sub { bottom: -0.25em; }

  ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
  li > ul, li > ol { margin: 0; }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }
  li p:last-child { margin:0 }
  dd { margin: 0 0 0 2em; }

  img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

  table {
    padding: 0.5em;
    min-width: 200px;
    border-collapse: collapse;
    border-spacing: 0;
  }

  td, th {
    border: 1px solid $color_primary_slight;
    min-height: 1.2em;
    vertical-align: center;
    padding: 0.5em 1em;
    transition: all 0.3s;
  }

  th {
      background: $color_primary_light;
      font-weight: bold;
      color: #fff;
  }

  td {
      background: $color_bg;
  }

  tr:nth-child(odd) td { background: $color_bg; }
  tr:nth-child(even) td { background: $color_primary_slight; }
  tr:hover td { background: darken($color_primary_slight, 15%); }
}

.markdownize-ctrl {
  float:right;
  margin-left: 1em;
}

.markdownize-toggle {
  cursor: pointer;
  padding: 0 0.5em;
  border-radius: 0.2em;

  transition: all 0.3s;

  &.markdownize-toggle-on {
    background-color: $color_bg_control;
    color: $color_fg_control;

    &.markdownize-toggle-hover {
      background-color: lighten($color_bg_control, 4%);
      color: lighten($color_fg_control, 45%);
    }
  }

  &.markdownize-toggle-off {
    background-color: lighten($color_bg_control, 6%);
    color: lighten($color_fg_control, 60%);

    &.markdownize-toggle-hover {
      background-color: lighten($color_bg_control, 4%);
      color: lighten($color_fg_control, 45%);
    }
  }
}
